{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
  Create new Account
{% endblock title_block %}

{% block body_block %}
<div class="shadow-none p-3 mb-5 bg-light rounded">
    <h2>Create New Account : </h2>
    <hr>
    <form method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Create Account</button>
    </form>
    <hr>
    <p>Already have an Account ? <a href="{% url 'Login_App:login' %}">Login Here</a></p>
</div>
  
{% endblock %}